.footer-basic {
  padding: 40px 0;
  background-color: #333; /* Fundo cinzento escuro */
  color: #fff; /* Texto branco */
  font-family: Arial, sans-serif;
  border-top: 3px solid #444; /* Borda superior mais escura */
}

.footer-container {
  display: flex;
  flex-direction: row; /* Alinhar itens em linha */
  justify-content: space-between; /* Espaçar itens igualmente */
  align-items: flex-start; /* Alinhar itens ao topo */
  padding: 20px 5%;
  gap: 50px; /* Espaço entre os blocos */
}

.logo-section {
  display: flex;
  flex-direction: column; /* Alinhar itens em coluna */
  align-items: center; /* Centralizar itens */
}

.logo {
  height: 50px; /* Ajuste conforme necessário */
  margin-bottom: 10px; /* Espaço abaixo da logo */
}

.slogan {
  font-size: x-large;
  color: #bbb;
  text-align: center; /* Centralizar texto */
}

.contact-section,
.links-section {
  text-align: left; /* Alinhar texto à esquerda */
}

.contact-section p,
.links-section p {
  margin: 5px 0;
  line-height: 1.6;
}

.contact-section strong,
.links-section strong {
  font-size: 18px;
}

.contact-section i,
.links-section i {
  margin-right: 8px;
  color: #fff; /* Cor dos ícones */
}

.contact-section span,
.links-section span {
  font-size: 12px;
  color: #bbb;
}

.links-section {
  margin-top: 20px; /* Espaço acima das navbars */
}

.links-section p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.links-section ul {
  list-style: none;
  padding: 0;
}

.links-section li {
  margin-bottom: 8px;
}

.links-section a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links-section a:hover {
  color: #ddd;
}

.footer-basic .slogan {
  font-weight: 900;
  text-align: center;
  margin: 10px 0 0;
  font-size: 24px;
  color: #bbb;
}

.footer-basic p {
  text-align: center;
  margin: 10px 0 0;
  font-size: 17px;
  color: #bbb;
}

.footer-basic .copyright {
  text-align: center;
  margin: 10px 0 0;
  font-size: 15px;
  color: #bbb;
}
