/* Estilos do Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 10px 10%;
    background: #00000022;
    border-bottom: 1px solid #ffffff31;
    transition: all 0.3s;
    z-index: 1000;
}

#header.sticky {
    background: #151515;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header:hover {
    background: #000000aa;
}

/* Logo */
.nav-logo {
    height: 100%;
    transform: translateX(-200%);
    animation: appear 1s forwards ease-in-out;
}

.nav-logo img {
    height: 100%;
}

/* Estilização da navegação */
.nav-list {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.nav-link {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Efeito de linha ao passar o rato nas tabs do header */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
}

.nav-link:hover {
    color: rgb(219, 219, 219);
}

.nav-link:hover::after {
    width: 100%;
}

.login-button {
    height: 50px;
    width: 140px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.login-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    visibility: hidden;
    height: 10px;
    width: 2.1px;
    z-index: -1;
}

.login-button:hover {
    text-decoration: none;
    box-shadow: 1px 1px 20px #ffffff;
    color: #333;
    border: none;
}

.login-button:hover::after {
    visibility: visible;
    transform: scale(100) translateX(1px);
}

/* Logout button */
.logout-button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.2em;
}

.logout-button:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px #ffffffaa;
}

/* Animação de aparição */
@keyframes appear {
    to {
        transform: translateX(0);
    }
}
