:root {
    --header-height: 90px;
    --header--color: #1a1a1a;
    --header-color-sticky: #0d0d0d;
    --header--color-hover: #333333;
    --header-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 2px 0px;
    border-bottom: 1px solid #ffffff31;
    transition: all 0.3s;
    z-index: 1000;
}
.fa-solid.fa-sign-out-alt {
    
    color: #fff;
}

.header-index {
    background: var(--header--color);
}

.header-other {
    background: var(--header--color);
}

.header-index.sticky {
    background: var(--header-color-sticky);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header-other.sticky {
    background: var(--header-color-sticky);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.user-menu {
    position: relative;
    display: flex;
    align-items: center;
gap: 10px;
color: #fff;
}

/* Logo */
.nav-logo {
    height: 100%;
}

.nav-logo img {
    height: 100%;
}

/* Estilização da navegação */
.nav-list {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.nav-link {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.header .nav-link {
    color: #fff;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.2s ease-in-out;
}

.nav-link:hover {
    color: rgb(219, 219, 219);
}

.nav-link:hover::after {
    width: 100%;
}

.login-button {
    height: 50px;
    width: 140px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.login-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    visibility: hidden;
    height: 10px;
    width: 2.1px;
    z-index: -1;
}

.login-button:hover {
    text-decoration: none;
    box-shadow: 1px 1px 20px #ffffff;
    color: #333;
    border: none;
}

.login-button:hover::after {
    visibility: visible;
    transform: scale(100) translateX(1px);
}

/* Logout button */
.logout-button {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.2em;
}

.logout-button:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px #ffffffaa;
}
.header-mobile {
    display: none;
}
/* Animação de aparição */
@keyframes appear {
    to {
        transform: translateX(0);
    }
}

@media (max-width: 1200px) {
    .header-mobile {
        z-index: 78;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 90px;
        width: 100%;
        background: var(--header--color);
        padding: 2px 15px;
    }
    .nav-logo-mobile {
        height: 100%;
        width: 150px;
    }
    .nav-logo-mobile img {
        height: 100%;
        width: 100%;
    }
    .btn-open-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
    .btn-open-menu span{
        height: 2px;
        width: 30px;
        background: #fff;
    }
    .btn-close-menu {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
    }
    .btn-close-menu span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        top: 50%;
        left: 0;
        transform-origin: center;
    }
    .btn-close-menu span:first-child {
        transform: rotate(45deg);
    }
    .btn-close-menu span:last-child {
        transform: rotate(-45deg);
    }
    .header.active .btn-close-menu {
        display: block;
    }
    .header {
        animation: none;
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 30px;
        transform: translateX(100%);
    }

    .header.active {
        transform: translateX(0);

    }

    .nav-logo {
        width: 300px;
        height: 200px;
    }

    .nav-logo img {
        width: 100%;
    }

    .nav-list {
        flex-direction: column;
        gap: 20px;
    }

    .nav-item {
        margin-top: 10px;
    }

}